body{
    margin: 0px;
    font-family: sans-serif;
}
.top-header{
    display: flex;
    justify-content: right;
    background-color: rgb(244,245,248);   
    height: 30px;
    align-items: center;
    padding-right: 18px;
    padding-top: 13px;
}
.top-header ul{
    display: flex;
    list-style: none;
    padding-left: 15px;
    gap: 35px;
    padding-right: 40px;
    font-size: 11px;
    
}
.top-header li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.header{
    display: flex;
    flex-direction: row;
    height: 60px;
}
.left-section{
    display: flex;
    background-color: white;
    width: 300px;
    align-items: center;
    /* padding-bottom: 15px; */
}
.middle-section{
    display: flex;
    background-color: white;
    width: 600px;
    align-items: center;
    padding-left: 20px;
    padding-top: 16px;
}

.left-section img{
    /* width: 120px;
    padding-left: 41px; */
    width: 164px;
    padding-left: 42px;
    /* height: 70px; */
}
.middle-section ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 11px;
    gap: 50px;
}
.middle-section li{
    display: flex;
    justify-content: space-between;
}
.right-section{
    display: flex;
    background-color: white;
    flex: 1;
    align-items: center;
    padding-left: 110px;
}
.search-bar{
    display: flex;
    border-color: black;
    border-bottom:solid 1px rgb(216,216,216);
    height: 20px;
    width: 155px;
    padding-bottom: 7px;

}
.search-btn img{
    width: 14px;
    height: 14px;
    margin-bottom: 12px;
    margin-left: 19px;

}
.search-bar input{
    outline: none;
    border: none;
    width: 113px;
    padding-left: 10px;

}
.search-btn{
    border: none;
    background-color: white;
}
.search-bar ::placeholder{
    font-size: 11px;
    /* padding-bottom: 15px; */
}
/* #carousel-btn{
    background: white;
    color: black;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-top: 270px;
    margin-left: 10px;

} */
 .calculators img{
    width: 100%;
 }
 .pianos img{
    width: 100%;
 }
 .new-drops{
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 100px;
    
}
.new-drops h2{
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
}
.top{
    display: flex;
    flex-direction: row;
}
.left, .right{
    /* display: flex; */
    height: 50px;
    width: 150px;
    /* background-color: rgb(255, 64, 0);
    border: solid black; */
}
.picture img{
    width: 250px;
    margin-left: 26px;
}
.card-container{
    
    width: 300px;
    
}
.card-container:hover{
    /* border: solid black 1px; */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.right{
    padding-left: 100px;
    font-size: 20px;
    padding-top: 5px;
}
.left{
    font-size: 14px;
    padding-left: 4px;
    padding-top: 5px;
    font-weight: 500;
}
.price-div p{
    font-size: 11px;
    margin-bottom: -3px;
    padding-left: 2px;

}
.model-number{
   margin-bottom: 20px; 
   padding-left: 5px;
}
.model-name{
    padding-left: 5px;
}
.price-div{
    padding-left: 5px;
}
.main-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.new-product-btn{
    display: flex;
    height:115px;
    justify-content: center;
    align-items:end;
}
.new-product-btn button{
    width: 280px;
    height: 40px;
    color: white;
    background-color: black;
    border: none;
    font-size: 14px;

}
.new-product-btn button:hover{
    opacity: 60%;
}
.topics{
    height: 110px;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    padding-left: 19px;
    padding-top: 30px;
}
.topics h2{
    font-size: 33px;
    font-weight: 700;
    font-family: sans-serif;
}
.topics-main-div{
    display: flex;
    flex-direction: row;
    height: 415px;
    justify-content:space-around
    
}
.topics-div{
    height: 410px;
    width: 280px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.topics-img{
    overflow: hidden;
}
.topics-img img{
    width: 299px;
    transition: transform 0.3s ease-in-out;
}

.topics-description p{
    font-size: 10px;
    padding-top: 3px;
    padding-left: 15px;
    font-weight: 500;
    
}
.topics-name p{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

.topics-div:hover .topic-card-img{
    transform: scale(1.1);
}

.footer-heading{
    height: 150px;

}
.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer{
    height: 100px;
    width: 200px;
    font-size: 13px;
    font-weight: 500;
    padding-left: 65px;
}
.footer-heading p{
    padding-top: 80px;
    padding-left: 45px;
    font-size: 12px;
}
.social-media{
    height: 45px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-left: 57px;
    gap: 21px;
}
.third-footer{
    display: flex;
    flex-direction: row;
}
.third-footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 10px;
    font-weight: 500;
    gap: 40px;
    padding-left: 58px;

}
.fourth-footer p{
    font-size: 9px;
    padding-left: 59px;
}
.final-footer{
    padding-left: 34px;
    font-size: 13px;
    font-weight: 700;
}