body{
    margin: 0px;
}
.top-header{
    display: flex;
    justify-content: right;
    background-color: rgb(244,245,248);   
    height: 34px;
    align-items: center;
    padding-right: 35px;
    /* width: 100%; */
}
.top-header ul{
    display: flex;
    list-style: none;
    padding-left: 15px;
    gap: 35px;
    padding-right: 40px;
    font-family: sans-serif;
    font-size: 11px;
    
}
.top-header li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.header{
    display: flex;
    flex-direction: row;
    height: 56px;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.left-section{
    display: flex;
    background-color: aqua;
    width: 300px;
    align-items: center;
}
.middle-section{
    background-color: pink;
    width: 600px;
}
.right-section{
    background-color: chartreuse;
    flex: 1;
}
.left-section img{
    width: 120px;
}